@font-face {
    font-family: "Quicksand-regular";
    src: url(../fonts/Quicksand-Regular.otf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Parte del header */
  header {
    grid-area: header;
    font-family: 'Courier New', Courier, monospace;
     font-style: italic;
     text-align: left;
     color: #FFF;
     padding: 10px;
     font-size: 28px;
     background: linear-gradient(360deg, rgb(51 51 51) 17%, rgb(56 56 56) 49%, rgb(78 41 20) 100%);
    .contactos-header {
    position: absolute;
    top: 20px;
    right: 25px;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      list-style-type: none;
      top: 0;
      right: 120px;
      margin: 0;
    }
    }
     }
  /* Logo de la pagina */
  .logo {
      padding: 0;
      position: absolute;
      margin: 0px;
      top: 7px;
      left: 270px;
      width: 50px;
      height: 50px;
  }  
  body {
    grid-area: body;
      font-family:  Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #F0F0F0;
  }
  /* Home */
  .home {
    grid-area: home;
      background-color: #cfcece;
      box-shadow: inset 0 5px 10px #333;
      max-width: 960px;
      margin: 10px auto;
      padding: 15px;
      animation: fallIn 1.5s ease-in-out;
      h3{
        font-family: "Quicksand-regular";
      }
      ul {
        list-style: none;
        li {
          margin-bottom: 20px;
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            margin-bottom: 20px;
          }
          a {
            color: #333;
            text-decoration: none;
            :hover {
              text-decoration: underline;
          }
          
        }
      }
    }
  }
  .noticias {
    grid-area: noticias;
      font-size: 36px;
      margin-bottom: 20px;
  }
    
  .productos {
    grid-area: productos;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  .imgproductos {
    grid-area: productos-img;
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
  }
  /* Parte del navbar */
  .menu {
    grid-area: menu;
    background-color: #333;
    color: #fff;
    padding: 20px;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 6px black;
    z-index: 100;
    background: linear-gradient(180deg, rgb(51 51 51) 17%, rgb(56 56 56) 49%, rgb(78 41 20) 100%);
  
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      background-color: #444;
      padding: 10px;
      background: linear-gradient(360deg, rgb(51 51 51 / 0%) 17%, rgb(56 56 56) 49%, rgb(50 50 50) 100%);
  
      li {
        margin-right: 20px;
        font-size: large;
  
        a {
          color: #fff;
          text-decoration: none;
          font-family: 'Roboto Mono', monospace;
  
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  
    .cuentas {
      position: relative;
  
      /* Dropdown de perfil */
      &-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #444;
        border: 1px solid #747272;
        padding: 10px;
        display: none;
        
  
        a {
          border-bottom: 1px solid #ccc;
          padding-bottom: 2px;
        }
      }
  
      &:hover {
        .cuentas-menu {
          display: grid;
        }
      }
    }
  }
  
  /* Parte del body */
  body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #F0F0F0;
  }
  /* Parte del contenido de sobre nosotros */
  .bodyacerca {
      max-width: 1000px;
      margin: 15px auto;
      padding: 20px;
      background-color: #cfcece;
      box-shadow: inset 0px 5px 10px #222222;
      animation: fallIn 1.5s ease-in-out;
      section {
        margin-bottom: 40px;
    }
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 10px;
}
img {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
  animation: fallIn 1.5s ease-in-out;
  animation-delay: 0.5s;
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
p {
  font-size: 18px;
  margin-bottom: 10px;
}
  }
}
  /* Parte del fromulario */
  .formulario {
      max-width: 600px;
      margin: 15px auto;
      padding: 20px;
      background-color: #cfcece;
      box-shadow: inset 0px 5px 10px #222222;
      animation: fallIn 1.5s ease-in-out;
   h2 {
   margin-top: 0;
   }
  input[type="text"],
  input[type="email"],
  textarea,
   select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   input[type="radio"] {
    margin-right: 5px;
  }
   button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
label {
  display: inline-block;
  margin-right: 10px;
}  
  }
 .control {
      margin: 10px 0;
  label {
    display: block;
    margin-bottom: 5px;
    }
    button[type="submit"]:hover {
      background-color: #45a049;
  }
  }
.social-media { li {
    display: inline;
    list-style-type: none;
  }
  }
  /* Parte del sitio "sedes" */
  .ubicaciones {
    max-width: auto;
    margin: 15px auto;
    padding: 40px;
    background-color: #cfcece;
    box-shadow: inset 0px 5px 10px #333;
    font-family: "Quicksand-regular";
    animation: fallIn 1.5s ease-in-out;
    ul {
      list-style-type: none;
      font-weight: 100;
    }
    img {
      width: 50%;
    padding: 5px;
    }
  }
  .ubicaciones 
  .ubicacion {
    display: block;
    width: auto;
    height: auto;
  }
  
  .zonas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .zonas-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    img {
      max-width: 100%;
  
      &:hover {
        width: 475%;
        transition: width 2s .5s;
      }
    }
}
  /* Preguntas frecuentes */
  #FAQ {
    max-width: 800px;
    margin: 15px auto;
    padding: 40px;
    background-color: #cfcece;
    box-shadow: inset 0px 5px 10px #333;
    animation: fallIn 1.5s ease-in-out;
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 24px;
    }
    a {
      color: #007aff;
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
    }
  }

  /* Parte de login o sign up */
  .logear {
    max-width: 800px;
    margin: 15px auto;
    padding: 40px;
    background-color: #cfcece;
    box-shadow: inset 0px 5px 10px #333;
    animation: fallIn 1.5s ease-in-out;
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  a {
    color: #1e90ff;
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
}
  footer {
      background-color: #1e1e1e;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      text-align: center;
      padding: 2px;
      box-shadow: 0 5px 10px black;
      margin-bottom: 0;
  }
  
  /*Media queries */
  @media (max-width: 480px) 
  /* tamaño Header */
  {   
    header {
    display: grid;
    text-align: left;
    font-size: 20px;
  }
  /* posicion del logo */
  .logo {
    display: flex;
    left: 204px;
    height: auto;
  }
  /* posicion de los contactos */
  .contactos-header {
  right: 1px;
  }
  /* Grid del menu */
  .menu  { ul{
    display: grid;
    justify-content: space-between;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    font-size: 9px;
    margin: -10px;
    li {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 15px;
    }
  }
}
  
  .footer {
    font-size: 10px;
  }
  }
  @media (max-width: 321px) {   
    header {
    display: grid;
    text-align: left;
    font-size: 18px;
  }
  .logo {
    display: flex;
    left: 180px;
    height: auto;
  }
  .contactos-header {
  right: 1px;
  }
  .menu  { ul{
    display: grid;
    justify-content: space-between;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    padding: 3px;
    font-size: 10px;
    li {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 13px;
    }
  }
}
  .footer {
    font-size: 8px;
  }
  
  }
  
  @media (max-width: 768px) { 
    .zonas {
      grid-template-columns: 1fr;
    }
  }
  // Animaciones
  @keyframes fallIn {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
    60% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
      opacity: 1
     }
     }