  footer {
      background-color: #1e1e1e;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #ffffff;
      text-align: center;
      padding: 2px;
      box-shadow: 0 5px 10px black;
      margin-bottom: 0;
  }